Source: ros-indigo-tug-example-actions
Section: misc
Priority: extra
Maintainer: jnitsch <jnitsch@todo.todo>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-roscpp, ros-indigo-tf, ros-indigo-tug-example-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-tug-example-actions
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-roscpp, ros-indigo-tf, ros-indigo-tug-example-msgs
Description: The tug_example_actions package
