Source: ros-indigo-pnp-ros
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-actionlib, ros-indigo-catkin, ros-indigo-pnp, ros-indigo-pnp-msgs, ros-indigo-roscpp, ros-indigo-rospy
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-pnp-ros
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-actionlib, ros-indigo-pnp, ros-indigo-pnp-msgs, ros-indigo-roscpp, ros-indigo-rospy
Description: The PNP ros package
